<!-- <h1>Hello from footer.</h1> -->
<!-- <div class="footer bg-dark py-3">
</div> -->
<!-- <%  %> these are used to embeded javascript not html.  -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container " style="text-align: center;">
        <span class="text-muted" style="text-align: center;">
            Bishu Rights &copy;
        </span>
    </div>   
</footer>